<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sports extended{% endblock %}</title>
    {% block head %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        {% block tabs%}{% endblock %}
    {% endblock %}
</head>
<body>

<div class="tabs">
    <a href="{% url 'signlog:index' %}" class="tab">Acasa</a>
    <a href="{% url 'signlog:about' %}" class="tab">Despre noi</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'signlog:products' %}" class="tab">Produse</a>
        <a href="{% url 'sports:all_sports' %}" class="tab">Sports</a>
        <p>{{ request.user.username }}</p>
        <a href="{% url 'signlog:logout' %}" class="tab">Delogare</a>
    {% else %}
        <a href="{% url 'signlog:login' %}" class="tab">Logare</a>
        <a href="{% url 'signlog:signup' %}" class="tab">Inregistrare</a>
    {% endif %}
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
